src/main/java/priv/wmc/config/webservice/client/orderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.webservice.config.wmc.priv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="OrderServiceImplService" targetNamespace="http://service.webservice.config.wmc.priv/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.webservice.config.wmc.priv/" elementFormDefault="unqualified" targetNamespace="http://service.webservice.config.wmc.priv/" version="1.0">

  <xs:element name="orderAdd" type="tns:orderAdd"/>

  <xs:element name="orderAddResponse" type="tns:orderAddResponse"/>

  <xs:element name="orderDetail" type="tns:orderDetail"/>

  <xs:element name="orderDetailResponse" type="tns:orderDetailResponse"/>

  <xs:complexType name="orderAdd">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="orderAddResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="orderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="orderDetailResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="orderDetail">
    <wsdl:part element="tns:orderDetail" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderDetailResponse">
    <wsdl:part element="tns:orderDetailResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderAddResponse">
    <wsdl:part element="tns:orderAddResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderAdd">
    <wsdl:part element="tns:orderAdd" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrderService">
    <wsdl:operation name="orderAdd">
      <wsdl:input message="tns:orderAdd" name="orderAdd">
    </wsdl:input>
      <wsdl:output message="tns:orderAddResponse" name="orderAddResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderDetail">
      <wsdl:input message="tns:orderDetail" name="orderDetail">
    </wsdl:input>
      <wsdl:output message="tns:orderDetailResponse" name="orderDetailResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderServiceImplServiceSoapBinding" type="tns:OrderService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="orderAdd">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="orderAdd">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="orderAddResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderDetail">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="orderDetail">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="orderDetailResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderServiceImplService">
    <wsdl:port binding="tns:OrderServiceImplServiceSoapBinding" name="OrderServiceImplPort">
      <soap:address location="http://localhost:8081/webservice/orderService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>